[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
channels = "*"
django-phone-field = "*"
django-crispy-forms = "*"
requests = "*"
faker = "*"

[requires]
python_version = "3.6"
