{% extends 'health/base.html' %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
{% endblock css %}

{% block content %}
<div class="col-xl-8">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Symptoms {{req}} </h3>
                </div>
                
              </div>
            </div>
            <div class="card-body ">
            <form action="" method="post">
            <div class="form-group">
              
              {% csrf_token %}
              <select class="custom-select" multiple="multiple" id='symptoms' name='sym'>
{% for s in sym %}
<option value="{{s.ID1}}">{{s.name}}</option>
{% endfor %}
</select>
   
            </div>
             <button type="submit" class="btn btn-primary">Sumbit</button>
                          </form>
            </div>
          </div>
        </div>
{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
<script>

$('#symptoms').select2({
  placeholder: 'Select a Symptoms',
  maximumSelectionLength: 5
});
</script>

{% endblock js %}